__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

wandb/

datasets/
splits/*/gt_depths.npz

pretrained_model/*.pth
pretrained_model/*.pt
pretrained_model/*.ckpt
pretrained_model/*.bin

*.zip
*.tar
*.gz
*.rar
*.7z
